<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c7999d44-c30a-4f05-b88f-a9bc82897a2a/resourcegroups/NationalCookies/providers/Microsoft.ContainerRegistry/registries/NationalCookiesApi20190424033305</ResourceId>
    <ResourceName>NationalCookiesApi20190424033305</ResourceName>
    <ResourceGroup>NationalCookies</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://nationalcookiesapi20190424033305.azurecr.io</RegistryUrl>
    <UserName>NationalCookiesApi20190424033305</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>58a7d280-e011-4c49-be54-00b651d72dd5</ProjectGuid>
  </PropertyGroup>
</Project>